<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Modelleme</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>  
        <nav class="navbar" >
            <div class="container justify-content-center d-flex ">
                <p class="fw-bold"> T-Bug'a Hoşgeldiniz</p>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-0 ">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted float-start">
        <div class="container">
            &oplus; Tarık Buğra Güleç <a asp-controller="Home" asp-action="Privacy">Gizlilik</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>   
   
</body>
</html>
